.wrap {
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-direction: row;

    > *:not(:last-child) {
        margin-right: 5px;
    }
}

.description {
    flex: 1 0;
}

.amount {
    width: 90px;
}

.categorySelect {
    width: 200px;
}
