.transaction {
    display: flex;
    flex-direction: row;
}

.dateWrap {
    text-align: center;
}

.date {

}

.year {

}

.descriptionWrap {
    flex: 1 0;
    margin: 0 30px;
}

.description {

}

.category {

}

.amount {

}
